
/*Parrafo de bienvenida*/
.bienvenida{
    font-size: 1.4rem;
    font-family: TradegothicLT;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        font-size: 2.8rem;
        font-weight: 800;
        font-family: Berg;
        margin-bottom: 1rem;
        padding: 0 1rem;
        letter-spacing: .3rem;
        background: linear-gradient(
            to bottom,
            transparent 50%,
            $gr 50%
        );
    }
    a{
        font-family: Berg;
        font-size: 2rem;
        margin: 1rem;
        background-color: $ve;
        padding: 1rem;
        border-radius: .5rem;
    }
}
.bienvenida a:hover{
    color: $gr;
}
.phrase{
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    margin: 1rem;
    color: $ve;
}

/*Sección de comunidad*/
.community{
    height: 40rem;
    margin-top: 2rem;
    background-image: url(../img/rodadasMoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2{
        font-size: 2.8rem;
        margin: 1rem;
        background-color: $ve;
        padding: 1rem;
        border-radius: .5rem;
    }
}

/*Seccion de tienda en linea*/
.shop{
    height: 40rem;
    margin-top: 2rem;
    background-image: url(../img/playeraPuesta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2{
        font-size: 2.8rem;
        margin: 1rem;
        background-color: $ve;
        padding: 1rem;
        border-radius: .5rem;
    }
}

/*Sección de mantenimiento*/
.service{
    height: 40rem;
    margin-top: 2rem;
    background-image: url(../img/motor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2{
        font-size: 2.8rem;
        margin: 1rem;
        background-color: $ve;
        padding: 1rem;
        border-radius: .5rem;
    }
}

/*seccion para academia*/
.academy{
    height: 40rem;
    margin-top: 2rem;
    background-image: url(../img/curvaDeportiva.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2{
        font-size: 2.8rem;
        margin: 1rem;
        background-color: $ve;
        padding: 1rem;
        border-radius: .5rem;
    }
}

/*Estilo de swipe bar*/
.swipe_bar{
    height: 40rem;
    margin-top: 2rem;
    background-image: url(../img/harleyRider.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    a{
        background-color: $ve;
        padding: .8rem;
        border-radius: .5rem;
        font-size: 1.4rem;
    }
}
h1{
    font-size: 3rem;
    margin: 1rem;
}

/*no logro desacelerar la transición del hover
.swipe_bar:hover{
    background-size: 150%;
}*/
